<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://superiorforestry.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>superiorforestry.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>superiorforestry</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>SFS-WebAppChem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sfsChemicalTransactionListConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalTransactionListConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsChemicalInvoiceListFullConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;Persist Security Info=True;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalInvoiceListFullConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;Persist Security Info=True;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsChemicalInventoryConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalInventoryConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsChemicalLocationConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalLocationConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsChemicalEmployeeConnectionString" Order="5" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalEmployeeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsInvoiceChemicalsConnectionString" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:sfschem.database.windows.net,1433;Initial Catalog=sfsChemical;User ID=sfsCaptain@sfschem.database.windows.net;Password=iD2GaTt!" Name="Data Source=tcp:sfschem.database.windows.net,1433;Initial Catalog=sfsChemical;User Id=sfsCaptain@sfschem.database.windows.net;Password=iD2GaTt!;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsInvoiceChemicalsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsChemicalProductConnectionString" Order="7" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalProductConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsChemicalInvoiceConnectionString" Order="8" Enabled="False">
          <Destination Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsChemicalInvoiceConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sfsBarcodeHolderConnectionString" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sfsBarcodeHolderConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsBarcodeHolderConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalEmployeeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalInventoryConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalInvoiceConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalInvoiceListFullConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalLocationConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalProductConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsChemicalTransactionListConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sfsInvoiceChemicalsConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sfschem.database.windows.net,1433;Initial Catalog=sfsChemical;User Id=sfsCaptain@sfschem.database.windows.net;Password=iD2GaTt!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>