<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sfsChemicalTransactionListConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalProductConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalLocationConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalInventoryConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalEmployeeConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalInvoiceConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalInvoiceListFullConnectionString" connectionString="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;Persist Security Info=True;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsInvoiceChemicalsConnectionString" connectionString="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsBarcodeHolderConnectionString" connectionString="Data Source=sfsChem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>