<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sfsChemicalTransactionListConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalProductConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalLocationConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
    <add name="sfsChemicalInventoryConnectionString" connectionString="Data Source=sfschem.database.windows.net;Initial Catalog=sfsChemical;User ID=sfsCaptain;Password=iD2GaTt!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
  </system.web>

</configuration>